<h1><%= title %></h1>
<h1>名前</h1>
<p><%= name %></p>
<h1>メッセージ</h1>
<p><%= message %></p>

<table border="1">
    <tr>
        <th>タイトル</th>
        <th>名前</th>
        <th>メッセージ</th>
    </tr>
    <tr>
        <td><%= title %></td>
        <td><%= name %></td>
        <td><%= message %></td>
    </tr>
</table>